*.csproj.user
*.ReSharper.user
*.suo
*.dotCover
*.DotSettings.user
desktop.ini
_ReSharper*
obj/
bin/
App_Data/
WindowsInstallerEmailInBox
output
output/
output
output/Debug/EmailInBox.exe
output/Debug/EmailInBox.pdb
EmailInBox.v11.suo
